@using TalepIstekFormu.WebUI.Models
@model CompanyModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        <h5 class="mt-3">Şirket Güncelle</h5>
    </div>
    <form action="/Company/Edit" method="post">
        <div class="card-body">
            <div class="row m-auto ml-5">
                <div class="input-group mb-3" style="width:30%">
                    <span class="input-group-text" id="basic-addon1">Şirket Adı</span>
                    @Html.TextBoxFor(x => x.GetCompany.CompanyName, new { @class = "form-control " })
                    <input type="hidden" name="GetCompany.CompanyId" value="@Model.GetCompany.CompanyId" />
                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end ml-3">
                <input type="submit" class="btn btn-outline-warning" name="name" value="Güncelle" />
            </div>
        </div>
    </form>
</div>